@import '../../../common/common';

.user-list {
  padding-bottom: 50px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  .waiting-prompt {
    animation: .5s text-glowing infinite linear alternate;
  }

  .list-container {
    overflow-y: auto;
    border: 2px solid $borderColor;
    flex-basis: 100%;
    border-radius: 2px;
    animation: box-glow 1.5s linear infinite alternate;
    position: relative;
  }

  .available-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
}
