<div class="user-list">
  <div ng-if="userListController.users.length == 0">
    <h1 class="waiting-prompt">
      There are no available players. <br>
      Waiting for players to join...
    </h1>
  </div>
  <div ng-if="userListController.users.length > 0" class="available-container">
    <h1>Available players</h1>
    <div class="list-container">
      <menu-link ng-repeat="user in userListController.users track by $index" ng-click="userListController.challengeUser(user)"
      ng-if="user != $root.username">{{user}}</menu-link>
      <div class="waiting-reply" ng-if="userListController.parent.waiting">
        Waiting for {{ userListController.opponentName }} to accept your challenge request
        <div class="loader"><div class="loader-inner"></div></div>
      </div>
    </div>
  </div>
  <a href="#" ui-sref="^.mainMenu" class="bottom-button">
    <menu-link>Back</menu-link>
  </a>
</div>

