@import '../../common/common';

#confirmation-modal {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: 0.3s;

  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;

      .modal-content {
        animation: content-leave 0.3s backwards;
      }
    }
  }

  .modal-content {
    padding: 20px 30px;
    width: 350px;
    background: $lightGradient;
    margin: 10px auto 0;
    border-radius: 2px;
    display: block;
    color: $primaryColor;
    animation: content-enter 0.3s backwards;

    .modal-message {
      margin: 0 0 20px;
      text-align: center
    }

    .buttons-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .modal-button {
        display: block;
        border: 2px solid $primaryColor;
        background: transparent;
        font-size: 15px;
        padding: 5px 20px;
        color: $primaryColor;
        transition: .2s;
        cursor: pointer;
        width: 70px;
        text-align: center;

        &:hover {
          background-color: $primaryColor;
          color: $lightTextColor;
        }
      }
    }
  }

  @keyframes content-enter {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes content-leave {
    to {
      transform: translateY(20%);
    }
    from {
      transform: translateY(0);
    }
  }
}
