<div ng-if="confirmationModalController.visible" id="confirmation-modal">
  <div class="modal-content">
    <p class="modal-message">{{confirmationModalController.message}}</h1>
    <div class="buttons-container">
      <div ng-click="confirmationModalController.handleYes()" class="modal-button">{{confirmationModalController.onNo ? 'Yes' : 'OK' }}</div>
      <div ng-click="confirmationModalController.handleNo()" ng-if="confirmationModalController.onNo" class="modal-button">No</div>
    </div>
  </div>
</div>
