@import '../../../common/common';

.in-game-view {
  height: 100%;
  padding-top: 40px;

  .turn {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 32px;
    text-align: center;
    transition: 0.5s;

    &.ng-enter {
      opacity: 0;
      &.ng-enter-active {
        opacity: 1;
      }
    }

    &.ng-leave {
      opacity: 1;
      &.ng-leave-active {
        opacity: 0;
      }
    }

  }

  .boards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .player-board-container {
      width: $boardSize;
      transition: 1s;
      left: 0;
      position: relative;
      z-index: 2;

      &.large {
        transform: scale(1.2);
        left: calc(50% - #{$boardSize / 1.2});

        h1 {
          font-size: 18px;
          font-weight: 300;
          transition: 0.5s;
        }
      }
      .waiting-reply {
        height: $boardSize + 2px;
        top: auto;
      }
    }

    .board-name {
      text-align: center;
      margin-bottom: 10px;
    }

    .opponent-board-container {
      width: $boardSize;
      transition: 1s;
      overflow: hidden;
      z-index: 1;

      &.hide {
        transform: scale(0.8);
        opacity: 0;
      }

      &.show {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
