<div class="in-game-view">
  <h1 class="turn" ng-if="inGameController.parent.gameReady">
    {{ inGameController.parent.hasTurn ? 'Your' : inGameController.parent.opponentName + '\'s'}} turn
  </h1>
  <div class="boards-container">
    <div class="player-board-container" ng-class="!inGameController.parent.gameReady ? 'large' : 'small'">
      <h1 class="board-name">{{inGameController.parent.gameReady ? 'You' : 'Place your ships (right click: change orientation)'}}</h1>
      <board hits="inGameController.parent.opponentHits"
             ships="inGameController.parent.ships"
             handle-cell-click="inGameController.placeShip"
             temp-ship="inGameController.tempShip"
             handle-hover="inGameController.positionShip"
             handle-right-click="inGameController.toggeleShipDirection"
             board-size="inGameController.boardSize"></board>

      <div class="waiting-reply"
           ng-if="inGameController.parent.ready && !inGameController.parent.gameReady">
        Waiting for {{ inGameController.parent.opponentName }} to finish placing their ships.
        <div class="loader">
          <div class="loader-inner"></div>
        </div>
      </div>
    </div>
    <div ng-class="inGameController.parent.gameReady ? 'show' : 'hide'"
         class="opponent-board-container">
      <h1 class="board-name">{{ inGameController.parent.opponentName }}</h1>
      <board hits="inGameController.parent.hits"
             ships="inGameController.parent.opponentShips"
             handle-cell-click="inGameController.parent.attack"
             board-size="inGameController.boardSize"></board>
    </div>
  </div>

  <menu-link ng-click="inGameController.quit()"
             class="bottom-button">Surrender</menu-link>
</div>
