@import '../common';

.menu-link {
  color: $lightTextColor;
  padding: 5px 10px;
  font-size: 22px;
  font-family: $impactFont;
  cursor: pointer;
  background: transparent;
  position: relative;
  z-index: 1;
  transition: 0.15s;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    content: ' ';
    background: $lightGradient;
    transition: 0.15s;
    z-index: -1;
  }

  &:hover {
    &:after {
      opacity: 1;
      animation: breathe .5s alternate infinite;
    }
    color: $darkTextColor;
  }

  @keyframes breathe {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.9;
    }
  }
}
