@import '../../../common/common';

.board-container {
  .row {
    display: flex;
    border-bottom: 1px solid;
    width: $boardSize;
    font-family: $impactFont;
    text-align: center;
    line-height: 39px;

    &:first-child {
      border-top: 1px solid;
    }
  }
  .col {
    border-right: 1px solid;
    &:first-child {
      border-left: 1px solid;
    }
    width: 40px;
    height: 39px;

    .cell {
      width: 100%;
      height: 100%;
      cursor: pointer;

      > div {
        height: 100%;
        position: relative;
        transition: 0.2s;
        background-color: #134B70;
        &:after {
          content: '';
          position: absolute;
          background-color: transparent;
        }
        &:hover {
          background-color: #306B91;
        }
        &.miss {
          background-color: #2E9E68;
        }
        &.hit {
          background-color: #E36B42;
        }
        &.ship:after {
          background-color: $lighterTextColor;
        }
        &.temp-ship{
          background-color: #306B91;
          &:after {
            background-color: rgba(#E39C42, 0.7);
          }
        }

        &.ship, &.temp-ship {
          &.hit:after {
            background-color: #FFD5C6;
          }
          &:after {
            display: block;
            transition: 0.2s background-color, 0.2s border-radius;
          }

          &.vertical {
            &:after {
              height: 100%;
              width: 20px;
              margin: 0 auto;
              left: 10px;
            }

            &.front:after {
              border-radius: 50px 50px 0 0;
              height: calc(100% - 9px);
              bottom: -1px;
            }

            &.body:after {
              height: calc(100% + 1px);
            }

            &.back:after {
              border-radius: 0 0 2px 2px;
              height: calc(100% - 10px);
            }

            &.small:after {
              border-radius: 10px 10px 2px 2px;
              height: calc(100% - 8px);
              top: 4px;
            }
          }
          &.horizontal {
            &:after {
              width: 100%;
              height: 20px;
              margin: 9px 0;
              left: 0;
            }

            &.front:after {
              border-radius: 50px 0 0 50px;
              width: calc(100% - 9px);
              left: 11px;
            }

            &.body:after {
              width: calc(100% + 1px);
            }

            &.back:after {
              border-radius: 0 2px 2px 0;
              width: calc(100% - 10px);
            }

            &.small:after {
              border-radius: 10px 2px 2px 10px;
              width: calc(100% - 8px);
              margin: 9px auto;
              left: 4px;
            }
          }
        }
      }
    }
  }
}
