<div class="board-container">
  <div ng-repeat="row in boardController.getLetterRange() track by $index"
       class="row">
    <div ng-repeat="col in boardController.getNumberRange() track by $index"
         class="col">
      <div ng-if="row == 0 && col == 0"></div>
      <div ng-if="row == 0 && col != 0">{{col}}</div>
      <div ng-if="col == 0 && row != 0">{{row}}</div>
      <div ng-if="col != 0 && row != 0"
           ng-click="boardController.handleBoardCellClick(row, col)"
           class="cell"
           ng-mouseover="boardController.handleHover(row, col)"
           oncontextmenu="return false"
           ng-mousedown="boardController.mouseDown($event, row, col)">
        <div ng-class="boardController.generateCellClassName(row, col)"></div>
      </div>
    </div>
  </div>
