@import '../common';

.logo {
  font-family: $impactFont;
  font-size: 1em;
  position: relative;
  z-index: 9;

  .logo-inner {
    display: inline-block;
    background-image: $lightGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;

    &:after {
      background: none;
      content: attr(data-text);
      left: 0;
      position: absolute;
      text-shadow: 0 0 11px #a0a0a0;
      top: 0;
      z-index: -1;
      animation: glow 2s linear infinite alternate;
    }

    @keyframes glow {
      from {
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
      }
      to {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }
  }
}
