<nav class="navbar">
  <div class="logo">
    <a ui-sref="game"><logo></logo></a>
  </div>
  <div class="nav-links">
     <span>Welcome, {{ navbarController.name }}!</span>
    <a href="#" ng-click="navbarController.logout($event)">Logout</a>
  </div>
</nav>
