@import '../common';

.navbar {
  height: 70px;
  padding: 10px 30px;
  background: linear-gradient($primaryColor, transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-links{
    a, span {
      color: $lightTextColor;
      text-decoration: none;
      font-family: $impactFont;
      text-transform: uppercase;
    }
    span {
      border-right: 2px solid;
      padding-right: 5px;
    }
    a {
      transition: .3s;
      &:hover {
        color: $lighterTextColor;
      }
    }
  }

  .logo {
    font-size: 50px;
  }
}
