<div class="main-menu">
  <h1>Main Menu</h1>
  <div class="links-container">
    <menu-link handler="mainMenuController.play">{{ mainMenuController.inGame ? 'Back to game' : 'Play'}}</menu-link>
    <menu-link handler="mainMenuController.quit">Quit</menu-link>
  </div>
</div>
