@import '../../../common/common';

.main-menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .links-container {
    text-transform: uppercase;
    width: 300px;
  }
}
