@import '../../common/common';

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .greeting-logo {
    font-size: 100px;
  }
}
