<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="app">
  <div ui-view id="main-view"></div>
  <chat ng-if="$root.username" class="home-chat"></chat>
  <confirmation-modal></confirmation-modal>
</div>
