@import "common/common";
@import url('https://fonts.googleapis.com/css?family=Anton');


html, body {
  height: 100%;
  color: $lighterTextColor;
  background: $veryDarkBgColor $darkerGradient no-repeat;
}

input[type=text] {
  border: none;
  background-color: $lighterTextColor;
  outline: none;
  transition: 0.2s;
  border-radius: 2px;
  padding: 5px;

  &:focus {
    box-shadow: 0 0 10px 1px $primaryColor;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: $impactFont;
  text-transform: uppercase;
  color: $lightTextColor;
}

.app {
  height: 100%;
}

.home-chat {
  position: fixed;
  width: 300px;
  bottom: 0;
  right: 30px;
  border: 1px solid #466375;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  animation: box-glow 1.5s linear infinite alternate;
  z-index: 9;

  &.ng-enter, &.ng-leave{
    transition: all (($animationSpeed * 2) - ($animationSpeed / 2));
    bottom: -100%;
    opacity: 0;
  }

  &.ng-leave{
    bottom: 0;
    opacity: 1;
  }

  &.ng-enter.ng-enter-active {
    bottom: 0;
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    bottom: -100%;
    opacity: 0;
  }
}

#main-view, #game-view {
  height: 100%;

  &.ng-enter, &.ng-leave{
    transition: all (($animationSpeed * 2) - ($animationSpeed / 2));
    overflow: hidden;

    &, > * {
      display: block;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      padding: inherit;
    }
  }

  &.ng-leave > * {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active > * {
    animation: enter $animationSpeed ($animationSpeed / 2) ease-out backwards;
  }
  &.ng-leave.ng-leave-active  > *{
    animation: leave $animationSpeed ease-in backwards;
  }

  @keyframes leave {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.25);
      opacity: 0;
    }
  }

  @keyframes enter {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.bottom-button {
  position: fixed;
  bottom: 8px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 9;
  font-size: 20px;
}

.waiting-reply {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $impactFont;
  font-size: 20px;
  transition: 0.3s opacity;

  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    opacity: 1;
    &.ng-enter-active {
      opacity: 0;
    }
  }
}
