$primaryColor:   #466375;
$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #1C394A;
$veryDarkBgColor: #031621;
$lightBgColor: #ADC5D4;
$lighterTextColor: #f5f5f5;
$lightTextColor: #d1d7db;
$darkTextColor:  #000204;
$borderColor: #c7c7c7;
$darkGradient: linear-gradient(#2E4A5A, $veryDarkBgColor);
$darkerGradient: linear-gradient($darkBgColor, $veryDarkBgColor);
$logoGradient: linear-gradient(#ffffff,#A0A0A0);
$lightGradient: linear-gradient(#d1d7db,#a4b0b7);

$animationSpeed: .8s;

$impactFont: 'Anton', Impact, Charcoal, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

$navbarHeight: 70px;
$fullHeight: calc(100% - #{$navbarHeight});
$boardSize: 440px;
