<div class="login-view">
  <logo class="login-logo"></logo>
  <div class="form-container">
    <form ng-submit="loginController.login()" class="login-form">
      <p>Select your username to play</p>
      <input type="text" name="username" id="username" placeholder="Username" ng-model="loginController.name">
      <input type="submit" value="Play!" id="login-button">
    </form>
  </div>
</div>
