@import '../../common/common';

.login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-logo {
    font-size: 100px;
    animation: logo-enter 1.5s .2s backwards;
  }

  .form-container {
    animation: form-size 2s 1.7s backwards,
  }

  .login-form {
    padding: 30px;
    width: 350px;
    background: $lightGradient;
    margin: 10px auto 0;
    border-radius: 2px;
    display: block;
    color: $primaryColor;
    overflow: hidden;
    animation: form-enter 2s 1.7s backwards, box-glow 2s linear infinite alternate;

    >p {
      text-align: center;
      font-size: 18px;
      margin: 0 0 18px;
      color: $primaryColor;
    }

    #username {
      display: block;
      padding: 5px;
      width: 200px;
      margin: 0 auto 18px;
    }

    #login-button {
      margin: 10px auto 0;
      display: block;
      border: 2px solid $primaryColor;
      background: transparent;
      font-size: 15px;
      padding: 5px 20px;
      color: $primaryColor;
      transition: .2s;

      &:hover {
        background-color: $primaryColor;
        color: $lightTextColor;
      }
    }
  }


  @keyframes logo-enter {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes form-size {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 200px;
    }
  }

  @keyframes form-enter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes box-glow {
    from {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    }
    to {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
}
