@import "../../common/common";

.chat {
  background-color: $darkBgColor;
  z-index: 9;

  .tab {
    width: 100%;
    height: 25px;
    background: $lightGradient;
    padding: 4px 10px;
    color: $darkBgColor;
    cursor: pointer;
    transition: .3s;
    font-family: $impactFont;
    text-transform: uppercase;
  }

  &:not(.open) .tab:hover {
    height: 30px;
  }

  .chat-content {
    background: $darkGradient;
    color: $lighterTextColor;
    transition: 0.8s;
    max-height: 300px;
    &.ng-leave {
      max-height: 300px;
      &.ng-leave-active {
        max-height: 0;
      }
    }

    &.ng-enter {
      max-height: 0;

      &.ng-enter-active {
        max-height: 300px;
      }
    }
  }

  .chat-content-inner {
    padding: 5px;
  }
  .overflowable {
    height: 240px;
    overflow-y: auto;
    border: 1px solid $borderColor;
    padding: 5px;
    p {
      margin: 0;
      &.user {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .messaging {
    display: flex;
    .users {
      width: 80px;
    }

    .messages {
      .overflowable {
        border-right: none;
      }
      width: calc(100% - 80px);
    }
  }

  .form-container {
    margin-top: 5px;
    form {
      display: flex;
      justify-content: space-between;
      .message-input {
        width: calc(100% - 60px);
        display: inline-block;
        color: $darkTextColor;
      }
      .send-button {
        display: block;
        background: $primaryColor;
        border: 1px solid transparent;
        color: $lighterTextColor;
        transition: 0.3s;
        outline: none;

        &:hover {
          background-color: $lighterTextColor;
          color: $primaryColor;
          border-color: $primaryColor;
        }
      }
    }
  }
}
