<div class="chat" ng-class="{open: chatController.chatVisible}">
  <div class="tab" ng-click="chatController.toggleChat()">Chat</div>
  <div class="chat-content" ng-if="chatController.chatVisible">
    <div class="chat-content-inner">
      <div class="messaging">
        <div class="messages">
          <div class="overflowable">
            <p ng-repeat="message in chatController.messages">{{message.user}}: {{message.text}}</p>
          </div>
        </div>
        <div class="users">
          <div class="overflowable">
            <p class="user" ng-repeat="user in chatController.users track by $index">{{user}}</p>
          </div>
        </div>
      </div>

      <div class="form-container">
        <form ng-submit="chatController.sendMessage()">
          <input ng-model="chatController.message" type="text" class="message-input" ng-focus="chatController.chatVisible" />
          <input type="submit" value="Send" class="send-button" />
        </form>
      </div>
    </div>
  </div>
</div>
