@import '../../common/common';

.game {
  padding: 10px 30px;
  height: $fullHeight;
  position: relative;

  .quit {
    font-size: 12px;
    font-weight: 500;
    color: red;
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }

  @keyframes text-glowing {
    from {
      color: $lighterTextColor;
    }
    to {
      color: $lightTextColor;
    }
  }
}
